/* Global */

:root {
  --primary-color: #07a0c3;
  --primary-hover: #0f7c90;
  --dark-color: #343a40;
  --light-color: #7ae582;
  --danger-color: #f44336;
  --danger-hover: #a32834;
  --green-main: #beffd9;
  --green-hover: #5e981f;
  --success-color: #dfffe6;
  --secondary-color: #a2ccff;
  --mainTransition: all 2.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #f4f5f6;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utils */
.text-primary {
  color: var(--primary-color);
}

.display-none {
  display: none;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  outline: none;
  width: 100%;
  padding: 0.35rem;
  font-size: 1.05rem;
  border-radius: 8px;
  margin: 0.2rem 0rem;
}
.btn:hover {
  color: white;
  background-color: var(--primary-hover);
}
.btn:focus {
  outline: none;
}

/* Modal */
.site-modal,
.spinner-modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.spinner-modal {
  z-index: 1100;
}

.modal-content {
  margin: -0.1rem 0;
  z-index: 1200; /* Sit on top */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  border: 0px solid #888;
  width: fit-content;
}

.site-modal .close {
  color: #aaa;
  right: 0;
  top: -11px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  width: 23px;
  padding: 4px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal END */

/* Pointer */
.pointer {
  cursor: pointer;
}

/* Spinner */

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinner END */

/* Utils End */

/* LandingPage */
.landing-container1 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/img/landing.jpg') no-repeat;
  position: relative;
  background-size: cover;
}

.land-content {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-btn {
  transition: var(--mainTransition);
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 8px;
}
.landing-btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid var(--primary-color);
  box-shadow: 0px 0px 0px 1px var(--primary-color) inset;
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.effect01:hover {
  border: 4px solid var(--primary-color);
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid var(--primary-color);
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid var(--primary-color);
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* LandingPage End */

/* Navbar */

#nav-container {
  width: 12px;
  position: relative;
  z-index: 1000;
}

#nav-container:hover #main-navbar {
  transform: translateX(0);
  transition-delay: 0s;
}

#main-navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  align-items: center;
  background: #333;
  position: fixed;
  width: 140px;
  height: 100vh;
  transform: translateX(calc(-100% + 10px));
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  padding: 0.2rem;
  border-bottom: 1px var(--primary-color) solid;
}

#main-navbar ul {
  color: white;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
}

#main-navbar ul li:hover {
  background-color: #276fbf;
  border-radius: 5px;
}

#main-navbar ul a {
  color: white;
}

.highLighted {
  background-color: #276fbf;
  border-radius: 5px;
}

.show-nav-btn {
  position: fixed;
  background: none;
  border: none;
  z-index: 100;
  top: 0;
  outline: none;
  left: 0;
  color: #17a2b8;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 2s ease-in-out infinite;
  cursor: pointer;
}

/* Navbar end */

/* Login Form */

.credentials-content {
  padding: 0.2rem 1rem;
  text-align: center;
  max-width: 15.5rem;
  margin: auto;
  font-size: 1.1rem;
}

.credentials-content input,
.credentials-content textarea {
  border-radius: 5px;
  width: 100%;
  padding: 0.4rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border: 1px solid black;
}

.credentials-content input:focus,
.credentials-content textarea:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

/* Login Form  */

/* Confirm Email Page */
.confirm-page {
  text-align: center;
  position: absolute;
  max-width: 24rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-page span {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.3rem;
}

/* Confirm Email Page Eng */

/* Contact Us  */
.contact-us-box p {
  margin: 0.2rem;
}
.contact-us-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.icon {
  font-size: 1.4rem;
  margin: 0 0.25rem;
}
/* Contact Us END */

/* bigger screens phone */
@media screen and (min-width: 375px) and (orientation: portrait) {
  .credentials-content {
    max-width: 21rem;
  }
}

/* Profile */

.profile-content {
  font-size: 1rem;
  text-align: center;
}

.add-avatar-container img,
.my-profile-info img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: 0.25rem auto;
  object-fit: cover;
}

.profile-content input,
.profile-content textarea {
  margin: 0.2rem 0rem;
  resize: none;
  width: 150px;
  border-radius: 4px;
  border: 1px solid black;
}

.profile-content input {
  height: 16.5px;
}

.profile-content input:focus,
.profile-content textarea:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.add-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-group {
  display: flex;
  justify-content: space-between;
}
.content-group small {
  margin-right: 1.5rem;
}

.my-profile-info {
  /* align-self: stretch; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.my-profile-info h1 {
  text-align: center;
}

.profile-btn {
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  padding: 3px;
  border-radius: 5px;
}

.profile-btn:hover {
  background-color: var(--primary-hover);
}

.profile-item {
  align-self: stretch;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
}

.profile-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.profile-btn-container button {
  flex-grow: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}
.profile-btn-container button:hover {
  background-color: var(--primary-hover);
}

.profile-btn-container .delete-btn {
  background-color: var(--danger-color);
}
.profile-btn-container .delete-btn:hover {
  background-color: var(--danger-hover);
}

.profile-social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}

/* bigger screens phone */
@media screen and (min-width: 375px) and (orientation: portrait) {
  .profile-content input,
  .profile-content textarea {
    width: 175px;
  }

  .profile-content {
    font-size: 1.15rem;
  }

  .profile-content input {
    height: 25px;
  }
}

/* Profile END */

/* Expense tracker */

.expense-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.expense-container ul {
  list-style: none;
}
.expense-amounts {
  border: 2px groove;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.expense-history-li {
  height: 45px;
  position: relative;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0.5rem;
  border: 2px groove;
}
.expense-history-li:hover .mini-btn {
  display: block;
}

.expense-positive {
  background-color: var(--light-color);
}

.expense-negative {
  background-color: var(--secondary-color);
}

.mini-btn {
  display: none;
  border-radius: 5px;
  width: 30px;
  background-color: var(--primary-color);
  position: absolute;
  padding: 2px;
  color: white;
  bottom: 20px;
  left: -10px;
}

.mini-delete {
  bottom: -4px;
  background-color: var(--danger-color);
}

.expense-history {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-update-transaction {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-update-transaction input,
.create-update-transaction textarea,
.create-update-transaction select {
  width: 100%;
  padding: 0.4rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border-radius: 5px;
}
.create-update-transaction input:focus,
.create-update-transaction textarea:focus,
.create-update-transaction select:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.positive-color {
  color: var(--light-color);
}
.negative-color {
  color: var(--danger-color);
}

/* Expense tracker END */

/* Scroll bar */
.scroll-style-3::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll-style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scroll-style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* Scroll bar */

/* Dashboard */
.dashboard-container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Dashboard END */

/* CALENDAR */
.fc-timegrid-slot {
  height: 4em !important ;
  border-bottom: 0 !important;
}

.calendarEvents {
  position: relative !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  text-align: center;
}

.swipeView {
  display: flex;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.swipeViewSection {
  width: 980px;
  height: 100%;
  flex: 0 0 980px;
  scroll-snap-align: start;
}

.create-calendar-event {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-calendar-event input,
.create-calendar-event textarea,
.create-calendar-event select {
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border: 1px solid black;
}

.create-calendar-event input:focus,
.create-calendar-event textarea:focus,
.create-calendar-event select:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

/* CALENDAR END */

/* Flashcards */

.create-update-flashcard {
  display: flex;
  flex-direction: column;
}

.create-update-flashcard h3 {
  text-align: center;
}

.create-update-flashcard span {
  font-weight: bold;
}

.create-update-flashcard input {
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border: 1px solid black;
}

.create-update-flashcard input:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.flashcard-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.flashcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-49%, -50%);
  left: 50%;
  top: 50%;
}

.flashcard-item {
  background-color: transparent;
  width: 260px;
  height: 200px;
  display: none;
}

.flashcard-inner {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.current-flashcard {
  display: inline-block;
}

.left-right-btns span {
  font-size: 1.15rem;
  vertical-align: bottom;
}

.left-right-btns svg {
  cursor: pointer;
  margin: -5px 0px;
  font-size: 1.75rem;
}

.left-right-btns svg:hover {
  color: var(--primary-hover);
}

.mode-btn {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.flashcard-front,
.flashcard-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard-front p,
.flashcard-back p {
  padding: 0.3rem 0.5rem;
  overflow-y: auto;
  position: absolute;
  height: 105px;
  width: 201px;
  left: 50%;
  top: 50%;
  word-wrap: break-word;
  transform: translate(-49%, -50%);
}

.flashcard-front span,
.flashcard-back span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: wheat;
  width: 100%;
  flex-direction: row;
  word-wrap: break-word;
}

.inputMode {
  height: 34px;
  width: 100%;
  border: none;
  background-color: wheat;
  outline: none;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  word-wrap: break-word;
  bottom: 0;
}

p.deck-name {
  margin: 5px;
  font-size: 0.8rem;
  color: #888;
  cursor: pointer;
  display: inline;
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-51%, 0);
  align-self: center;
  height: 40px;
  width: 200px;
  overflow: auto;
}

/* .flashcard-front span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.flashcard-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.flip-icon {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
}
.speak-icon {
  align-self: center;
  font-size: 1.5rem;
  margin: 5px 0;
}

.delete-icon {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 5px;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-item.show-answer .flashcard-inner {
  transform: rotateY(180deg);
}

/* CHECKBOX */

.select-mode {
  display: inline-block;
  padding: 4px;
  width: 97px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-left: 1px;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  min-width: 10px;
  color: white;
  outline: none;
  background-color: gray;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.selected-mode {
  background-image: linear-gradient(98deg, blue, var(--primary-color));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.selected-game-mode {
  background-image: linear-gradient(98deg, orange, red);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* CHECKBOX END */

/* Flashcards END */
