/* Global */

:root {
  --primary-color: #17a2b8;
  --primary-hover: #147685;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --mainTransition: all 0.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #f4f5f6;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utils */
.text-primary {
  color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.05rem;
  border-radius: 8px;
}
.btn:hover {
  color: white;
  background-color: var(--primary-hover);
}
.btn:focus {
  outline: none;
}

/* Modal */
.site-modal,
.spinner-modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.spinner-modal {
  z-index: 1100;
}

.modal-content {
  z-index: 1200; /* Sit on top */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

.site-modal .close {
  color: #aaa;
  right: 0;
  top: -11px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  width: 23px;
  padding: 4px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal END */

/* Pointer */
.pointer {
  cursor: pointer;
}

/* Utils End */

/* LandingPage */
.landing-container1 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/img/landing.jpg') no-repeat;
  position: relative;
  background-size: cover;
}

.land-content {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 8px;
}
.landing-btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid var(--primary-color);
  box-shadow: 0px 0px 0px 1px var(--primary-color) inset;
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid var(--primary-color);
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid var(--primary-color);
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid var(--primary-color);
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* LandingPage End */

/* Navbar */

#nav-container {
  width: 11px;
  position: relative;
}

#nav-container:hover #main-navbar {
  transform: translateX(0);
  transition-delay: 0s;
}

#main-navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  align-items: center;
  background: #333;
  position: fixed;
  width: 140px;
  height: 100vh;
  transform: translateX(calc(-100% + 10px));
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  padding: 0.2rem;
  border-bottom: 1px var(--primary-color) solid;
}

#main-navbar ul {
  color: white;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
}

#main-navbar ul a {
  color: white;
}

.show-nav-btn {
  position: fixed;
  background: none;
  border: none;
  z-index: 100;
  top: 0;
  outline: none;
  left: 0;
  color: #17a2b8;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 2s ease-in-out infinite;
  cursor: pointer;
}

/* Navbar end */

/* Login Form */

.credentials-content {
  padding: 0.2rem 2rem;
  text-align: center;
  max-width: 24rem;
  margin: auto;
  font-size: 1.1rem;
}

.credentials-content input,
.credentials-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.05rem;
  resize: none;
}

.credentials-content input:focus,
.credentials-content textarea:focus {
  outline: 2px solid var(--primary-color);
}

/* Login Form  */

/* Confirm Email Page */
.confirm-page {
  text-align: center;
  position: absolute;
  max-width: 24rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-page span {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.3rem;
}

/* Confirm Email Page Eng */

/* Contact Us  */
.box p {
  margin: 0.2rem;
}
.icon {
  font-size: 1.4rem;
  margin: 0 0.25rem;
}
/* Contact Us END */

/* Profile */

.profile-content {
  max-width: 24rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
}

.add-avatar-container img,
.my-profile-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0.25rem auto;
  object-fit: cover;
}

.profile-content input,
.profile-content textarea {
  margin: 0.2rem 0rem;
  resize: none;
  width: 175px;
  border-radius: 4px;
}

.profile-content input {
  height: 25px;
}

.profile-content input:focus,
.profile-content textarea:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.profile-btn {
  border-radius: 8px;
  text-align: center;
  align-self: center;
  min-width: 40%;
  color: white;
  background-color: var(--primary-color);
  padding: 5px;
  margin: 5px;
}

.profile-btn:hover {
  color: white;
  background-color: var(--primary-hover);
}

.add-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-group {
  display: flex;
  justify-content: space-between;
}
.content-group small {
  margin-right: 1.5rem;
}

.my-profile-info {
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  gap: 0.4rem;
  padding: 0.6rem 0.5rem;
}

.profile-item {
  align-self: stretch;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
}

/* Profile END */
