/* Global */

:root {
  --primary-color: #07a0c3;
  --primary-hover: #0f7c90;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #f44336;
  --danger-hover: #a32834;
  --green-main: #beffd9;
  --green-hover: #5e981f;
  --success-color: #dfffe6;
  --secondary-color: #dbebff;
  --mainTransition: all 0.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #f4f5f6;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utils */
.text-primary {
  color: var(--primary-color);
}

.display-none {
  display: none;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.05rem;
  border-radius: 8px;
  margin: 0.3rem 0rem;
}
.btn:hover {
  color: white;
  background-color: var(--primary-hover);
}
.btn:focus {
  outline: none;
}

/* Modal */
.site-modal,
.spinner-modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.spinner-modal {
  z-index: 1100;
}

.modal-content {
  margin: -0.1rem 0;
  z-index: 1200; /* Sit on top */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 0px solid #888;
  width: fit-content;
}

.site-modal .close {
  color: #aaa;
  right: 0;
  top: -11px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  width: 23px;
  padding: 4px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal END */

/* Pointer */
.pointer {
  cursor: pointer;
}

/* Spinner */

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinner END */

/* Utils End */

/* LandingPage */
.landing-container1 {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/img/landing.jpg') no-repeat;
  position: relative;
  background-size: cover;
}

.land-content {
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: 8px;
}
.landing-btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid var(--primary-color);
  box-shadow: 0px 0px 0px 1px var(--primary-color) inset;
  background-color: var(--primary-color);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid var(--primary-color);
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid var(--primary-color);
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid var(--primary-color);
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/* LandingPage End */

/* Navbar */

#nav-container {
  width: 11px;
  position: relative;
}

#nav-container:hover #main-navbar {
  transform: translateX(0);
  transition-delay: 0s;
}

#main-navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  align-items: center;
  background: #333;
  position: fixed;
  width: 140px;
  height: 100vh;
  transform: translateX(calc(-100% + 10px));
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  padding: 0.2rem;
  border-bottom: 1px var(--primary-color) solid;
}

#main-navbar ul {
  color: white;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
}

#main-navbar ul a {
  color: white;
}

.show-nav-btn {
  position: fixed;
  background: none;
  border: none;
  z-index: 100;
  top: 0;
  outline: none;
  left: 0;
  color: #17a2b8;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 2s ease-in-out infinite;
  cursor: pointer;
}

/* Navbar end */

/* Login Form */

.credentials-content {
  padding: 0.2rem 2rem;
  text-align: center;
  max-width: 24rem;
  margin: auto;
  font-size: 1.1rem;
}

.credentials-content input,
.credentials-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border: 1px solid black;
}

.credentials-content input:focus,
.credentials-content textarea:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

/* Login Form  */

/* Confirm Email Page */
.confirm-page {
  text-align: center;
  position: absolute;
  max-width: 24rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-page span {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.3rem;
}

/* Confirm Email Page Eng */

/* Contact Us  */
.box p {
  margin: 0.2rem;
}
.icon {
  font-size: 1.4rem;
  margin: 0 0.25rem;
}
/* Contact Us END */

/* Profile */

.profile-content {
  max-width: 24rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
}

.add-avatar-container img,
.my-profile-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0.25rem auto;
  object-fit: cover;
}

.profile-content input,
.profile-content textarea {
  margin: 0.2rem 0rem;
  resize: none;
  width: 175px;
  border-radius: 4px;
  border: 1px solid black;
}

.profile-content input {
  height: 25px;
}

.profile-content input:focus,
.profile-content textarea:focus {
  box-shadow: 0 0 3pt 2pt var(--primary-color);
}

.add-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-group {
  display: flex;
  justify-content: space-between;
}
.content-group small {
  margin-right: 1.5rem;
}

.my-profile-info {
  align-self: stretch;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  gap: 0.4rem;
  padding: 0.6rem 0.5rem;
}

.profile-btn {
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}

.profile-btn:hover {
  background-color: var(--primary-hover);
}

.profile-item {
  align-self: stretch;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
}

.profile-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.profile-btn-container button {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}
.profile-btn-container button:hover {
  background-color: var(--primary-hover);
}

.profile-btn-container .delete-btn {
  background-color: var(--danger-color);
}
.profile-btn-container .delete-btn:hover {
  background-color: var(--danger-hover);
}

/* Profile END */

/* Expense tracker */

.expense-container {
  align-self: stretch;
  background-color: white;
  flex: 0 0 24rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.expense-container ul {
  list-style: none;
}
.expense-amounts {
  border: 2px groove;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.expense-history-li {
  height: 45px;
  position: relative;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0.5rem;
  border: 2px groove;
}
.expense-history-li:hover .mini-btn {
  display: block;
}

.expense-positive {
  background-color: var(--success-color);
}

.expense-negative {
  background-color: var(--secondary-color);
}

.mini-btn {
  display: none;
  border-radius: 5px;
  width: 30px;
  background-color: var(--primary-color);
  position: absolute;
  padding: 2px;
  color: white;
  bottom: 20px;
  left: -10px;
}

.mini-delete {
  bottom: -4px;
  background-color: var(--danger-color);
}

.expense-history {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-update-transaction {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-update-transaction input,
.create-update-transaction textarea,
.create-update-transaction select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
}

.positive-color {
  color: var(--success-color);
}
.negative-color {
  color: var(--danger-color);
}

/* Expense tracker END */

/* Scroll bar */
.scroll-style-3::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll-style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scroll-style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* Scroll bar */

/* Dashboard */
.dashboard-container {
  gap: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Dashboard END */

/* CALENDAR */
.fc-timegrid-slot {
  height: 3.6em !important ;
  border-bottom: 0 !important;
}

.calendarEvents {
  position: relative !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  text-align: center;
}

.swipeView {
  display: flex;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.swipeViewSection {
  width: 880px;
  height: 100%;
  flex: 0 0 880px;
  scroll-snap-align: start;
}

.create-calendar-event {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.create-calendar-event input,
.create-calendar-event textarea,
.create-calendar-event select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem 0rem;
  font-size: 1.05rem;
  resize: none;
  border: 1px solid black;
}

/* CALENDAR END */
