/* LEsson Navigation */

.lesson-nav-container {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: lessonNav;
}

.lesson-nav-container button {
  padding: 0.2rem 0.3rem;
  margin: 0.15rem;
  background-color: rgb(210, 225, 255);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.lesson-nav-container .ls:hover,
.lesson-nav-container .selected-ls {
  background-color: rgb(71, 132, 255);
  color: white;
}

.lesson-nav-container .hw {
  background-color: rgb(185, 250, 185);
  color: black;
}
.lesson-nav-container .hw:hover,
.lesson-nav-container .selected-hw {
  background-color: rgb(30, 200, 30);
  color: white;
}

/* LEsson Navigation END */

/* NOTES */
.notes-container {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-grow: 0;
  height: 16rem;
  width: 100%;
  min-height: 98%;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  grid-area: lessonNotes;
}

.note-type {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -1%;
  display: flex;
  gap: 1rem;
}

.note-type label,
.note-type input[type='radio'] {
  cursor: pointer;
}

.private {
  background-color: rgb(255, 252, 205) !important;
}

.content-editable {
  padding: 0px 5px;
  outline: none;
  /* position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); */
  height: 80%;
  width: 97%;
  border-radius: 5px;
  font-size: 1.15rem;
  position: absolute;
  left: 1.5%;
  bottom: 1.5%;
  background-color: rgb(218, 248, 255);
  overflow-y: visible;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: initial;
  font-family: 'Times New Roman', Times, serif;
  list-style: square;
}

.notes-btn-container {
  position: absolute;
  left: 50%;
  top: 8%;

  transform: translate(-50%, 0);
  display: flex;
  z-index: 100;
  flex-direction: row;
  align-items: center;
}

.notes-select {
  display: inline-block;
  padding: 5px;
  width: 90px;
  font-size: 14px;
  line-height: 5px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: gray;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.notes-selected {
  background-image: linear-gradient(298deg, blue, var(--primary-color));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.badge {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0.19rem;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
}

.badge-primary {
  background-color: var(--primary-color);
  color: white;
}

.badge-black {
  background-color: black;
}

.badge-blue {
  background-color: blue;
}

.badge-red {
  background-color: red;
}

.badge-green {
  background-color: green;
}

.badge-orange {
  background-color: orange;
}

/* NOTES END */

/* VideoChat  */

.videoChat-container {
  border-radius: 5px;
  width: 100%;
  position: relative;
  grid-area: lessonVideo;
  grid-row: 1 / span 2;
}
.videoChat-container:hover .videoChat-buttons {
  visibility: visible;
}

.videoChat-buttons {
  position: absolute;
  left: 10px;
  bottom: 1px;
  z-index: 10;
  font-size: 0.15em;
  visibility: hidden;
}
.videoChat-buttons svg {
  height: 15px;
}

.button-icon {
  border-radius: 5px;
  font-size: 1.5rem;
  width: 35px !important;
  margin: 0 0.25rem;
  border: none;
  outline: none;
}

.videoChat-user video {
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  bottom: 1px;
  width: 100px;
  height: 70px;
  transform: rotateY(180deg);
  z-index: 10;
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

.videoChat-user img {
  border-radius: 5px;
  border: 1px white solid;
  object-fit: cover;
  position: absolute;
  width: 100px;
  height: 70px;
  z-index: 11;
  right: 0px;
  bottom: 1px;
}

/* .videoChat-user video::content {
    background: url('https://res.cloudinary.com/cyborgx999/image/upload/v1607471745/sayprivet/user-3331256_1280_wbgayg.png');
  } */

.videoChat-otherUser video {
  background: url('https://res.cloudinary.com/cyborgx999/image/upload/v1607471745/sayprivet/user-3331256_1280_wbgayg.png')
    no-repeat;
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  z-index: 1;
  display: flex;
}

.videoChat-otherUser img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* VideoChat END */

/* Picture Gallery */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 15px;
}

.gallery-grid-item div {
  display: flex;
  flex-direction: column;
}

.gallery-grid-item input {
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  outline: none;
  height: 30px;
  width: 100%;
  background-color: white;
  /* background-color: rgb(253, 255, 226); */
  font-size: 1.5rem;
}

.can-drop-color {
  background-color: wheat !important;
}

.gallery-grid-item img {
  border-radius: 5px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}

.listOfWords-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  top: 0px;
  z-index: 1;
  margin: 0rem 0rem;
  padding: 0;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
}

.drag-item {
  width: max-content;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
}

.opacity {
  opacity: 0.5 !important;
}

/* Picture Gallery END */

/* INput */
.correct-answer {
  color: black;
  background-color: var(--light-color) !important;
  font-weight: normal;
}
/* INput END */

/* STYLED ANSWER TOOLTIP */

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #00ff00;
  color: #111;
  font-size: 105%;
  position: absolute;
  padding: 2px 3px;
  bottom: 0.7rem;
  left: 45%;
  width: fit-content;
  word-wrap: break-word;
  white-space: initial;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* STYLED ANSWER TOOLTIP END */

.lesson-pages-container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  grid-area: lessonPages;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  width: 100%;
}

.lesson-container {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  flex-direction: column;

  /* display: grid;
    grid-template-areas:
      'lessonVideo lessonPages'
      'lessonNavNotes lessonPages';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr; */
}

/* TABLE */

.lesson-table,
table th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.lesson-table th,
td {
  padding: 15px;
  text-align: center;
}
.lesson-table {
  width: 80%;
}

.lesson-table input {
  border: none;
  border-bottom: ridge;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}
.lesson-table input:focus {
  outline: none;
}

/* TABLE END */

/* exercise */
.exercise {
  margin: 0.4rem 0rem;
  display: flex;
  flex-direction: column;
}

.exercise div {
  display: inline;
  vertical-align: center;
}
.exercise input {
  display: inline-block;
  border: none;
  width: 100px;
  max-width: fit-content;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  vertical-align: center;
  font-size: 1.01rem;
}

.exercise-in-text div {
  display: inline;
}
.exercise-in-text input {
  display: inline;
  border: none;
  width: min-content;
  border-bottom: 1px solid black;
}

.two-exercises-container {
  display: grid;
  margin: 0.5rem 0rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.two-exercises-container input {
  width: 55px;
}

/* exercise end */

/* landscape phones */
@media screen and (min-width: 475px) and (max-width: 825px) and (max-height: 723px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonVideo'
      'lessonNav lessonNotes'
      'lessonPages lessonPages';
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }

  .videoChat-container {
    grid-row: 1;
  }

  .videoChat-otherUser video {
    max-width: 100%;
    max-height: 380px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lesson-pages-container {
    height: 75vh;
  }
}

@media screen and (min-width: 825px) and (max-height: 723px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonVideo'
      'lessonNav lessonNotes'
      'lessonPages lessonPages';
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    padding: 10px 50px;
  }
  .videoChat-container {
    grid-row: 1;
  }
  .lesson-pages-container {
    height: 60vh;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) and (max-height: 723px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonVideo lessonPages'
      'lessonNav lessonNotes lessonPages'
      '. . lessonPages';
    grid-template-columns: 2fr 3fr 5fr;
    gap: 0.2rem;
    padding: 10px 50px;
  }
  .lesson-pages-container {
    height: 96.5vh;
    align-self: stretch;
  }

  .videoChat-otherUser video {
    max-width: 100%;
    height: 390px;
  }
  .videoChat-container {
    grid-row: 1;
    height: 390px;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1050px) and (max-height: 723px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .lesson-pages-container {
    height: 96.5vh;
  }
}
@media screen and (min-width: 1250px) and (max-height: 723px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonVideo lessonPages'
      'lessonNav lessonNotes lessonPages'
      '. . lessonPages';
    grid-template-columns: 1fr 2fr 5fr;
  }
  .lesson-pages-container {
    height: 97vh;
  }
}

/* portrait tablet */

@media screen and (min-width: 768px) and (orientation: portrait) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonVideo'
      'lessonNav lessonNotes'
      'lessonPages lessonPages';
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    padding: 10px 50px;
  }

  .videoChat-user video {
    right: 0px;
    bottom: 1px;
    width: 125px;
    height: 90px;
  }

  .videoChat-user img {
    width: 125px;
    height: 90px;
    right: 0px;
    bottom: 1px;
  }

  .notes-container {
    min-width: 30rem;
  }

  .lesson-pages-container {
    height: 70vh;
  }

  .videoChat-otherUser video {
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .videoChat-container {
    grid-row: 1;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .notes-container {
    min-width: 35rem;
  }
  .lesson-pages-container {
    height: 78vh;
  }
}

@media screen and (min-width: 768px) and (min-height: 768px) and (orientation: landscape) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'lessonVideo lessonNotes lessonNav'
      'lessonPages lessonPages lessonPages';
    grid-template-columns: 460px 360px 2fr;
    grid-template-rows: 40vh 59vh;
    gap: 0.2rem;
    padding: 0px 40px;
  }

  .content-editable {
    padding: 0px;
  }

  .videoChat-otherUser video {
    width: 100%;
    height: auto;
    max-height: 305px;
  }

  .videoChat-container {
    grid-row: 1;
    min-height: 305px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .lesson-pages-container {
    height: 59vh;
  }
  .lesson-nav-container {
    align-self: start;
    margin: 0;
    min-height: 100%;
  }

  .notes-container {
    align-self: start;
    min-height: 100%;
  }
}

@media screen and (min-width: 1366px) and (min-height: 1024px) and (orientation: landscape) {
  .lesson-container {
    margin-left: 10px;
    display: grid;
    grid-template-areas:
      'lessonVideo lessonNav lessonNotes'
      'lessonPages lessonPages lessonPages';
    grid-template-columns: 610px 310px 2fr;
    grid-template-rows: 40vh 59vh;
    gap: 0.2rem;
  }

  .content-editable {
    padding: 0px;
  }

  .videoChat-otherUser video {
    width: 100%;
    height: auto;
    max-height: 410px;
  }

  .videoChat-container {
    grid-row: 1;
    min-height: 315px;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .lesson-pages-container {
    height: 59vh;
  }
  .lesson-nav-container {
    align-self: start;
    margin: 0;
    min-height: 100%;
  }

  .notes-container {
    align-self: start;
    min-height: 100%;
  }
}
