/* LEsson Navigation */

.lesson-nav {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 125px;
  background-color: white;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.lesson-nav button {
  padding: 0.2rem 0.3rem;
  margin: 0.15rem;
  background-color: rgb(210, 225, 255);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.lesson-nav .ls:hover,
.lesson-nav .selected-ls {
  background-color: rgb(71, 132, 255);
  color: white;
}

.lesson-nav .hw {
  background-color: rgb(185, 250, 185);
  color: black;
}
.lesson-nav .hw:hover,
.lesson-nav .selected-hw {
  background-color: rgb(30, 200, 30);
  color: white;
}

/* LEsson Navigation END */

/* NOTES */
.notes-container {
  border-radius: 5px;
  position: relative;
  width: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  min-width: 19rem;
  max-width: 30rem;
}

.note-type {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -1%;
  display: flex;
  gap: 1rem;
}

.note-type label,
.note-type input[type='radio'] {
  cursor: pointer;
}

.private {
  background-color: rgb(255, 252, 205) !important;
}

.content-editable {
  outline: none;
  /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  border-radius: 5px;
  font-size: 1.15rem;
  position: absolute;
  left: 1.5%;
  bottom: 1.5%;
  background-color: rgb(218, 248, 255);
  width: 97%;
  height: 85%;
  max-height: 85%;
  overflow-y: visible;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: initial;
  font-family: 'Times New Roman', Times, serif;
  list-style: square;
}

.notes-btn-container {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 100;
  flex-direction: row;
  align-items: center;
}

.badge {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0.19rem;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
}

.badge-primary {
  background-color: var(--primary-color);
  color: white;
}

.badge-black {
  background-color: black;
}

.badge-blue {
  background-color: blue;
}

.badge-red {
  background-color: red;
}

.badge-green {
  background-color: green;
}

.badge-orange {
  background-color: orange;
}

/* NOTES END */

/* VideoChat  */

.videoChat-container {
  /* background: url('https://res.cloudinary.com/cyborgx999/image/upload/v1607471745/sayprivet/user-3331256_1280_wbgayg.png')
    no-repeat; */

  background-size: cover;
  background-position: center;
  width: 610px;
  height: 430px;
  position: relative;
  grid-area: lessonVideo;
}
.videoChat-container:hover .videoChat-buttons {
  visibility: visible;
}

.videoChat-buttons {
  position: absolute;
  left: 1px;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
}

.button-icon {
  border-radius: 5px;
  font-size: 1.5rem;
  width: 35px !important;
  margin: 0 0.25rem;
  border: none;
  outline: none;
}

.videoChat-user video {
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 130px;
  height: 100px;
  transform: rotateY(180deg);
  z-index: 10;
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

/* .videoChat-user video::content {
  background: url('https://res.cloudinary.com/cyborgx999/image/upload/v1607471745/sayprivet/user-3331256_1280_wbgayg.png');
} */

.videoChat-otherUser video {
  border-radius: 5px;
  width: 610px;
  height: 430px;
  object-fit: cover;
  z-index: 1;
}

.videoChat-user img {
  border-radius: 5px;
  border: 1px white solid;
  object-fit: cover;
  position: absolute;
  width: 131px;
  height: 100px;
  z-index: 11;
  right: 5px;
  bottom: 5px;
}

.videoChat-otherUser img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* VideoChat END */

/* Picture Gallery */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: white;
}

.gallery-grid-item div {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.gallery-grid-item input {
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  outline: none;
  height: 30px;
  background-color: white;
  /* background-color: rgb(253, 255, 226); */
  font-size: 1.5rem;
}

.can-drop-color {
  background-color: wheat !important;
}

.gallery-grid-item img {
  border-radius: 5px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.listOfWords-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  top: -10px;
  z-index: 1;
  margin: 0.2rem 0rem;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
}

.drag-item {
  width: max-content;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
}

/* Picture Gallery END */

/* INput */
.correct-answer {
  color: black;
  background-color: var(--light-color) !important;
  font-weight: normal;
}
/* INput END */

/* STYLED ANSWER TOOLTIP */

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #00ff00;
  color: #111;
  font-size: 105%;
  position: absolute;
  padding: 2px 3px;
  bottom: 0.7rem;
  left: 45%;
  width: fit-content;
  word-wrap: break-word;
  white-space: initial;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* STYLED ANSWER TOOLTIP END */

.lesson-pages-container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  grid-area: lessonPages;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
}

.lesson-container {
  padding: 0.1rem 1rem;
  display: grid;
  grid-template-areas:
    'lessonVideo lessonPages'
    'lessonNavNotes lessonPages';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  width: 100vw;
  height: 99vh;
}

.lesson-notes-nav {
  display: flex;
  gap: 0.3rem;
  grid-area: lessonNavNotes;
}

/* TABLE */

.lesson-table,
table th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.lesson-table th,
td {
  padding: 15px;
  text-align: center;
}
.lesson-table {
  width: 80%;
  margin: 0 auto;
}

.lesson-table input {
  border: none;
  border-bottom: ridge;
  width: 100%;
  font-size: 1.2rem;
}
.lesson-table input:focus {
  outline: none;
}

/* TABLE END */

/* exercise */
.exercise {
  margin: 0.5rem 0rem;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.exercise span {
  display: block;
  max-width: 100%;
  height: 20px;
}
.exercise div {
  display: inline;
  vertical-align: center;
}
.exercise input {
  display: inline-block;
  border: none;
  width: 100px;
  max-width: fit-content;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  vertical-align: center;
  font-size: 1.01rem;
}

.exercise-in-text div {
  display: inline;
}
.exercise-in-text input {
  display: inline;
  border: none;
  width: min-content;
  border-bottom: 1px solid black;
}

.two-exercises-container {
  display: grid;
  margin: 0.5rem 0rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.two-exercises-container input {
  width: 55px;
}

/* exercise end */
