.notes-container {
  margin-left: 12rem;
  display: flex;
  max-width: 24rem;
  height: 24rem;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.note-type {
  display: flex;
  gap: 1rem;
}

.private {
  background-color: rgb(255, 252, 205) !important;
}

.content-editable {
  outline: none;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  font-size: 1.15rem;
  background-color: rgb(218, 248, 255);
  width: 97%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: initial;
  font-family: 'Times New Roman', Times, serif;
}

.notes-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* */

.badge {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0.19rem;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
}

.badge-primary {
  background-color: var(--primary-color);
  color: white;
}

.badge-black {
  background-color: black;
}

.badge-blue {
  background-color: blue;
}

.badge-red {
  background-color: red;
}

.badge-green {
  background-color: green;
}

.badge-orange {
  background-color: orange;
}
