@media screen and (min-width: 568px) and (max-height: 415px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat videochat'
      'lessonnav notes'
      'lessonpages lessonpages';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23rem 18rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .videochat-container {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat videochat'
      'lessonnav notes'
      'lessonpages lessonpages';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 23rem 18rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .videochat-container {
    justify-self: center;
  }
  .lesson-pages-container {
    grid-area: lessonpages;
    overflow: auto;
    height: 71vh;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat lessonnav'
      'notes notes'
      'lessonpages lessonpages';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 23rem 18rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .videochat-container {
    justify-self: start;
  }

  .lesson-pages-container {
    grid-area: lessonpages;
    overflow: auto;
    height: 62vh;
  }

  .lesson-nav-container {
    align-self: stretch;
    height: 23rem;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .lesson-pages-container {
    height: 50vh;
  }
}

@media screen and (min-width: 569px) and (min-height: 416px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat lessonnav'
      'notes notes'
      'lessonpages lessonpages';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 23rem 18rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .videochat-container {
    justify-self: start;
  }

  .lesson-pages-container {
    grid-area: lessonpages;
    overflow: auto;
  }

  .lesson-nav-container {
    align-self: stretch;
    height: 23rem;
  }
}

@media screen and (min-width: 1025px) and (min-height: 622px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat videochat lessonpages'
      'lessonnav notes lessonpages'
      '. . lessonpages';
    grid-template-columns: 0.7fr 1fr 2.5fr;
    grid-template-rows: 26rem 18.3rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .lesson-pages-container {
    grid-area: lessonpages;
    overflow: auto;
    height: 98.5vh;
  }

  .lesson-nav-container {
    align-self: stretch;
    max-height: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1225px) and (min-height: 722px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1025px) and (min-height: 1024px) {
  .lesson-container {
    display: grid;
    grid-template-areas:
      'videochat videochat lessonpages'
      'lessonnav notes lessonpages'
      '. . lessonpages';
    grid-template-columns: 0.7fr 1fr 2.5fr;
    grid-template-rows: 26rem 18.3rem 1fr;
    gap: 0.1rem;
  }
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .lesson-pages-container {
    grid-area: lessonpages;
    overflow: auto;
    height: 98.5vh;
  }

  .lesson-nav-container {
    align-self: stretch;
    max-height: 100%;
    height: 100%;
  }
}

// responsive for big screen
// .lesson-container {
//   display: grid;
//   grid-template-areas:
//     'videochat videochat lessonpages'
//     'lessonnav notes lessonpages';
//   grid-template-rows: 55vh 45vh;
//   grid-template-columns: 10% 30% 1fr;
// }
