/* Picture Gallery */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 15px;
}

.gallery-grid-item div {
  display: flex;
  flex-direction: column;
}

.gallery-grid-item input {
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  outline: none;
  height: 30px;
  width: 100%;
  background-color: white;
  /* background-color: rgb(253, 255, 226); */
  font-size: 1.5rem;
}

.can-drop-color {
  background-color: wheat !important;
}

.gallery-grid-item img {
  border-radius: 5px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: -6px;
}

.listOfWords-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  top: -1px;
  z-index: 1;
  margin: 0rem 0rem;
  padding: 0;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
}

.drag-item {
  width: max-content;
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
}

.opacity {
  opacity: 0.5 !important;
}

/* Picture Gallery END */

/* INput */
.correct-answer {
  color: black;
  background-color: $green !important;
  font-weight: normal;
}
/* INput END */

// Videochat

%bgimage {
  background-image: url('https://res.cloudinary.com/cyborgx999/image/upload/v1607471745/sayprivet/user-3331256_1280_wbgayg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.videochat-container {
  position: relative;
  max-width: 690px;
  max-height: 430px;
  width: 100%;
  border-radius: $main-radius;
  grid-area: videochat;
  display: flex;
  height: 100%;
}

.videochat-user {
  position: absolute;
  display: inline-block;
  width: 20%;
  z-index: 10;
  bottom: 2px;
  right: 2px;
  @extend %bgimage;
  border: 1px white solid;
  border-radius: $main-radius;
  video {
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: $main-radius;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}

.videochat-other-user {
  width: 100%;
  height: 100%;
  max-width: 690px;
  max-height: 430px;
  @extend %bgimage;
  border: 1px white solid;
  display: flex;

  video {
    object-fit: cover;
    border-radius: $main-radius;
    width: 100%;
    height: 100%;
    max-width: 690px;
    max-height: 430px;
  }
}

.other-user-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: $main-radius;
}
.user-image {
  width: 20%;
  height: 24%;
  bottom: 0;
  position: absolute;
  display: block;
  object-fit: cover;
  z-index: 11;
  right: 0;
  border: 1px solid white;
  border-radius: $main-radius;
}

.videochat-buttons {
  border: 1px solid white;
  position: absolute;
  z-index: 10;
  bottom: 1.5px;
  left: 1.5px;
}

.button-icon {
  height: 1.5em;
  width: 2.5rem !important;
}

// Videochat END

// Lesson Navigation
.lesson-nav-container {
  min-width: 8rem;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: lessonnav;
  padding: 10px;
  height: 18rem;
  flex-grow: 0;
  flex-shrink: 0;
}

%navbtn {
  width: 99.5%;
  border-radius: 4px;
  padding: 3px;
  margin: 2px;
  outline: none;
  border: none;
}

.ls {
  @extend %navbtn;
  @include set-background(rgb(210, 225, 255));
  &:hover {
    @include set-background(rgb(71, 132, 255));
  }
}
.selected-ls {
  @extend %navbtn;
  @include set-background(rgb(71, 132, 255));
}

.hw {
  @extend %navbtn;
  @include set-background(rgb(185, 250, 185));
  &:hover {
    @include set-background(rgb(30, 200, 30));
  }
}
.selected-hw {
  @extend %navbtn;
  @include set-background(rgb(30, 200, 30));
}

// Lesson Navigation END

// NOTES
.notes-container {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  grid-area: notes;
  padding: 7px;
  min-width: 14rem;
  min-height: 14rem;
}

.content-editable {
  height: 100%;
  min-height: 14rem;
  max-height: 100%;
  flex-basis: 250px;
  overflow: auto;
  outline: none;
  font-size: 1.2rem;
  word-wrap: break-word;
  white-space: initial;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}

.note-type {
  display: flex;
  gap: 1rem;
  justify-content: center;
  & button {
    cursor: pointer;
  }
}

.notes-select {
  display: inline-block;
  padding: 5px;
  width: 90px;
  font-size: 14px;
  line-height: 5px;
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  outline: none;
  background-color: gray;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.notes-selected {
  background-image: linear-gradient(298deg, blue, $primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.private {
  background-color: rgb(255, 252, 205) !important;
}

.notes-btn-container {
  display: flex;
  justify-content: center;
}

.badge {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0.19rem;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
}

.badge-primary {
  background-color: $primary;
  color: white;
}

.badge-black {
  background-color: black;
}

.badge-blue {
  background-color: blue;
}

.badge-red {
  background-color: red;
}

.badge-green {
  background-color: green;
}

.badge-orange {
  background-color: orange;
}

// NOTES END

// Table
.lesson-table {
  border-collapse: collapse;
  margin: 10px 0;
  max-width: 95%;

  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }

  th {
    background: $primary;
    color: white;
    font-weight: bold;
  }

  td,
  th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1rem;
    text-align: center;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    background-color: wheat;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    outline: none;
  }
  select {
    padding: 5px;
    font-size: 1rem;
    color: black;
    text-align: center;
    &:disabled {
      color: black;
      font-weight: bold;
    }
  }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .lesson-table {
    width: 100%;
    display: block;
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);

      color: #000;
      font-weight: bold;
    }
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  }

  /* Force table to not be like tables anymore */

  /* Hide table headers (but not display: none;, for accessibility) */
}

// Table End

// Exercise
.exercise {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  align-content: center;
  gap: 0.2rem;
  margin-bottom: 1rem;

  div {
    display: inline-block;
    vertical-align: center;
  }

  input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 1px;
    width: 90%;
  }
}

// Exercise End

/* STYLED ANSWER TOOLTIP */

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #00ff00;
  color: #111;
  font-size: 105%;
  position: absolute;
  padding: 2px 3px;
  bottom: 0.7rem;
  left: 45%;
  width: fit-content;
  word-wrap: break-word;
  white-space: initial;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* STYLED ANSWER TOOLTIP END */

.lesson-pages-container {
  grid-area: lessonpages;
  overflow: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 1.5rem;
}

.lesson-container {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
