/* Utils */

// SCROLL STYLE 1
.scroll-style-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll-style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scroll-style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

// SCROLL STYLE 2 END

// set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 65) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Margin and padding bootstrap-like classes
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding: #{$space}rem 0;
  }

  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
}

.flex-row {
  display: flex;
  gap: 1rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.text-primary {
  color: $primary;
}

.margin > * {
  margin: 0.5rem 0;
}

.display-none {
  display: none;
}
.hidden {
  visibility: hidden;
}

%btn {
  display: inline-block;
  outline: none;
  padding: 0.35rem;
  font-size: 1.05rem;
  border-radius: 8px;
  margin: 0.2rem 0rem;

  &:hover {
    transform: scale(0.99);
    @include set-background($primary-hover);
  }
  &:focus {
    outline: none;
  }
}

.btn {
  @extend %btn;
  @include set-background($primary);
}
.btn-long {
  @extend %btn;
  @include set-background($primary);
  width: 100%;
}

.btn-danger {
  @extend %btn;
  @include set-background($danger);
  width: 100%;
  &:hover {
    @include set-background($danger-hover);
  }
}

/* Modal */
.site-modal,
.spinner-modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.spinner-modal {
  z-index: 1100; /* more than site-modal */
}

.modal-content {
  margin: -0.1rem 0;
  z-index: 1200; /* Sit on top */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 50%;
  overflow: auto;
  max-height: 100%;
  transform: translate(-50%, -50%);
  padding: 12px;
  border: 0px solid #888;
  width: fit-content;
}

.close {
  color: #aaa;
  right: 0;
  top: -11px;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  width: 23px;
  padding: 4px;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* Modal END */

/* Pointer */
.pointer {
  cursor: pointer;
}

/* Spinner */

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinner END */

/* Utils End */

// Langing page //

%b {
  color: $secondary;
  border-color: $secondary;
  background: transparent;
}
%p {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: $secondary;
  width: 150%;
  padding-top: 150%;
  transition: 0.45s ease;
}

%c {
  position: relative;
  overflow: hidden;
}

.landing-btn {
  padding: 8px 15px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
  & > span {
    position: relative;
    z-index: 1;
  }
  &.swipe-overlay {
    @extend %b;
    @extend %c;
    &::after {
      @extend %p;
      transform: rotate(25deg);
      top: -100%;
      left: -190%;
    }
    &:hover {
      color: #fff;
      &:after {
        left: -30%;
      }
    }
    &:focus {
      outline: none;
    }
  }
}

.landing-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/src/img/landing.jpg') no-repeat;
  position: relative;
  background-position: right 50% bottom 80%;
  background-size: cover;
  font-size: 0.8rem;
}

.landing-content {
  @include positionTypeCenter(absolute);
  text-align: center;
  color: white;
}

// Langing page //

/* Navbar */

#nav-container {
  width: 12px;
  position: relative;
  z-index: 1000;

  &:hover #main-navbar {
    transform: translateX(0);
    transition-delay: 0s;
  }
}

#main-navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  align-items: center;
  background: #333;
  position: fixed;
  width: 140px;
  height: 100vh;
  transform: translateX(calc(-100% + 10px));
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  padding: 0.2rem;
  border-bottom: 1px $primary solid;

  ul {
    color: white;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;

    li:hover {
      background-color: $primary;
      border-radius: 5px;
    }

    a {
      color: white;
    }
  }
}
.highLighted {
  background-color: #276fbf;
  border-radius: $main-radius;
}

.show-nav-btn {
  position: fixed;
  background: none;
  border: none;
  z-index: 100;
  top: 0;
  outline: none;
  left: 0;
  color: $secondary;
  margin: 1rem 1.3rem;
  font-size: 2rem;
  animation: bounce 2s ease-in-out infinite;
  cursor: pointer;
}

/* Navbar END */

/* Login Form */

.credentials-content {
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 1.1rem;

  input,
  textarea {
    border-radius: 5px;
    width: 100%;
    padding: 0.4rem;
    margin: 0.3rem 0rem;
    font-size: 1.05rem;
    resize: none;
    border: 1px solid black;

    &:focus {
      outline: none;
      box-shadow: 0 0 3pt 2pt $primary;
    }
  }
}

/* Login Form  */

/* Contact Us  */
.contact-us-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  p {
    margin: 0.2rem;
  }
  .icon {
    font-size: 1.4rem;
    margin: 0 0.25rem;
  }
}

/* Contact Us END */

/* Profile */

.profile-content {
  font-size: 1rem;
  text-align: center;

  input {
    height: 16.5px;
  }

  input,
  textarea {
    margin: 0.2rem 0rem;
    resize: none;
    width: 150px;
    border-radius: 4px;
    border: 1px solid black;

    &:focus {
      box-shadow: 0 0 3pt 2pt $primary;
    }
  }
}

.add-avatar-container img,
.my-profile-info img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  margin: 0.25rem auto;
  object-fit: cover;
}

.add-avatar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content-group {
  display: flex;
  justify-content: space-between;
}
.content-group small {
  margin-right: 1.5rem;
}

.my-profile-info {
  /* align-self: stretch; */
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;

  & h1 {
    text-align: center;
  }
}

.profile-item {
  align-self: stretch;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
  display: flex;
  line-height: 1.5;
  flex-wrap: wrap;
}

.profile-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.profile-social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}
/* Profile END */

/* Expense tracker */

.expense-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;

  & ul {
    list-style: none;
  }
}

.expense-amounts {
  border: 2px groove;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.expense-history-li {
  height: 45px;
  position: relative;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0.5rem;
  border: 2px groove;

  &:hover .mini-btn {
    display: block;
  }
}

.expense-positive {
  @include set-background($green);
}

.expense-negative {
  @include set-background($yellow);
}

.mini-btn {
  display: none;
  border-radius: 5px;
  width: 30px;
  @include set-background($primary);
  position: absolute;
  padding: 2px;
  color: white;
  bottom: 20px;
  left: -10px;
}

.mini-delete {
  bottom: -4px;
  @include set-background($danger);
}

.expense-history {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.create-update-transaction {
  text-align: center;
  display: flex;
  flex-direction: column;

  & input,
  textarea,
  select {
    width: 100%;
    padding: 0.4rem;
    margin: 0.3rem 0rem;
    font-size: 1.05rem;
    resize: none;
    border-radius: 5px;

    &:focus {
      box-shadow: 0 0 3pt 2pt $primary;
    }
  }
}

.positive-color {
  color: $green;
}
.negative-color {
  color: $danger-hover;
}

/* Expense tracker END */

/* Dashboard */
.dashboard-container {
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Dashboard END */

/* CALENDAR */
.fc-timegrid-slot {
  height: 4em !important ;
  border-bottom: 0 !important;
}

.calendarEvents {
  position: relative !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  text-align: center;
}

.swipeView {
  display: flex;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.swipeViewSection {
  width: 980px;
  height: 100%;
  flex: 0 0 980px;
  scroll-snap-align: start;
}

.create-calendar-event {
  text-align: center;
  display: flex;
  flex-direction: column;

  & input,
  textarea,
  select {
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    margin: 0.3rem 0rem;
    font-size: 1.05rem;
    resize: none;
    border: 1px solid black;

    &:focus {
      box-shadow: 0 0 3pt 2pt $primary;
    }
  }
}

/* CALENDAR END */

/* Flashcards */

.create-update-flashcard {
  display: flex;
  flex-direction: column;

  & h3 {
    text-align: center;
  }

  & span {
    font-weight: bold;
  }

  & input {
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    margin: 0.3rem 0rem;
    font-size: 1.05rem;
    resize: none;
    border: 1px solid black;
    &:focus {
      box-shadow: 0 0 3pt 2pt $primary;
    }
  }
}

.flashcard-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.flashcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(-49%, -50%);
  left: 50%;
  top: 50%;
}

.flashcard-item {
  background-color: transparent;
  width: 260px;
  height: 200px;
  display: none;
}

.flashcard-inner {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.current-flashcard {
  display: inline-block;
}

.left-right-btns span {
  font-size: 1.15rem;
  vertical-align: bottom;
}

.left-right-btns svg {
  cursor: pointer;
  margin: -5px 0px;
  font-size: 1.75rem;

  &:hover {
    color: $primary;
  }
}

.mode-btn {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.flashcard-front,
.flashcard-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flashcard-front p,
.flashcard-back p {
  padding: 0.3rem 0.5rem;
  overflow-y: auto;
  position: absolute;
  height: 105px;
  width: 201px;
  left: 50%;
  top: 50%;
  word-wrap: break-word;
  transform: translate(-49%, -50%);
}

.flashcard-front span,
.flashcard-back span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: wheat;
  width: 100%;
  flex-direction: row;
  word-wrap: break-word;
}

.inputMode {
  height: 34px;
  width: 100%;
  border: none;
  background-color: wheat;
  outline: none;
  text-align: center;
  font-size: 1rem;
  position: absolute;
  word-wrap: break-word;
  bottom: 0;
}

p.deck-name {
  margin: 5px;
  font-size: 0.8rem;
  color: #888;
  cursor: pointer;
  display: inline;
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-51%, 0);
  align-self: center;
  height: 40px;
  width: 200px;
  overflow: auto;
}

.flashcard-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.flip-icon {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 5px;
}
.speak-icon {
  align-self: center;
  font-size: 1.5rem;
  margin: 5px 0;
}

.delete-icon {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 5px;
}

.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard-item.show-answer .flashcard-inner {
  transform: rotateY(180deg);
}

/* CHECKBOX */

.select-mode {
  display: inline-block;
  padding: 4px;
  width: 97px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-left: 1px;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  min-width: 10px;
  color: white;
  outline: none;
  background-color: gray;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.selected-mode {
  background-image: linear-gradient(98deg, blue, $secondary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.selected-game-mode {
  background-image: linear-gradient(98deg, orange, red);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* CHECKBOX END */

/* INput */
.correct-answer {
  color: black;
  background-color: $green !important;
  font-weight: normal;
}
/* INput END */

/* Flashcards END */
